<%= render 'layouts/customer_header' %>

<h2>会員情報編集</h2>

<%= form_with model: @customer, url: current_customers_path do |f| %>

 <div class="row">
    <div class="col-2">
      <div class="field">
        氏名
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="field">
        フリガナ
        <%= f.text_field :last_name_kana %>
        <%= f.text_field :first_name_kana %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="field">
        郵便番号
        <%= f.text_field :postal_code %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="field">
        住所
        <%= f.text_field :address %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="field">
        電話番号
        <%= f.text_field :telephone_number %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="field">
        メールアドレス
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
  </div>
  <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
  <%= link_to '退会する', current_customers_confirm_withdraw_path, class: "glyphicon glyphicon-tint btn btn-danger"%>

<% end %>




