<%= render 'layouts/customer_header' %>

<h2>マイページ</h2>

<h4>登録情報</h4>
<%= form_with model: @customer, url: new_customer_session_path do |f| %>

  <body>
  <table border="1"width="400">
    <tr>
      <th>氏名</th><th><%= @customer.full_name %></th>
    </tr>

    <tr>
      <th>カナ</th><th><%= @customer.full_name_kana %></th>
    </tr>

    <tr>
      <th>郵便番号</th><th><%= @customer.postal_code %></th>
    </tr>

     <tr>
      <th>住所</th><th><%= @customer.address %></th>
    </tr>

    <tr>
      <th>電話番号</th><th><%= @customer.telephone_number %></th>
    </tr>

    <tr>
      <th>メールアドレス</th><th><%= @customer.email %></th>
    </tr>
  </table>
  </body>

  <%= f.submit "配送先" %>

<% end %>



<%= form_with url: order_path, method: :get, local: true do |form| %>
 <%= form.submit '注文履歴', class: "btn btn-sm btn-success" %>
<% end %>

