<%= render 'layouts/customer_header' %>

<h2>NaganoCake</h2>

<p>ようこそ、ながのCAKEへ!<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、 <br>
購入には会員登録が必要になります。</p>


<h4>新着商品</h4>

<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-2">
        <%= image_tag item.image, size: "100x100" %>
        <p><%= item.name %></p>
        <p>¥<%= item.price %></p>
      </div>
    <% end %>
  </div>
</div>

<span>
  <%= link_to "全ての商品を見る>", cart_items_path %>
</span>