<%= render 'layouts/admin_header' %>

<h2>会員情報編集</h2>

<%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>

  <div>
    <p>会員ID<%= @customer.id %></p>
    <p>氏名<%= @customer.full_name %></p>
    <p>フリガナ<%= @customer.full_name_kana %></p>
    <p>郵便番号<%= @customer.postal_code %></p>
    <p>住所<%= @customer.address %></p>
    <p>電話番号<%= @customer.telephone_number %></p>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="form-group row">
    <%= f.label :is_active, '会員ステータス', class: 'col-sm-3 col-form-label' %>
    <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :is_active, true, checked: @customer.is_active == true, class: 'custom-control-input', id: 'status-active' %>
      <%= f.label :is_active, '有効', class: 'custom-control-label', for: 'status-active' %>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <%= f.radio_button :is_active, false, checked: @customer.is_active == false, class: 'custom-control-input', id: 'status-deleted' %>
      <%= f.label :is_active, '退会', class: 'custom-control-label', for: 'status-deleted' %>
    </div>
  </div>

 <%= f.submit '編集する', class: "btn btn-sm btn-success" %>
<% end %>
