<h4>ショッピングカート</h4>

<%= button_to 'カートを空にする', @cart_item, method: :delete_all, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>

  <body>
    <table border="1" width="600">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </body>
  <%= form_with(model: @cart_items, url: cart_items_path, local: true) do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <% @cart_items.each do |item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td>数量</td>
      <td><%= cart_item.subtotal %></td>
    </tr>
  <% end %>

  <div class="row">
    <div class="col-2">
      <div class="field">
        合計金額
        <%= @total %>
      </div>
    </div>
  </div>
  
<% end %>

<%= form_with url: items_path, method: :get, local: true do |form| %>
 <%= form.submit '買い物を続ける', class: "btn btn-sm btn-success" %>
<% end %>

<%= form_with url: new_order_path, method: :get, local: true do |form| %>
 <%= form.submit '情報入力に進む', class: "btn btn-sm btn-success" %>
<% end %>