<%= render 'layouts/customer_header' %>

<h2>注文履歴詳細</h2>

<h4>注文情報</h4>
  <table border="1" width="600">
    <tr>
      <td>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</th>
      <td>
          〒<%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.destination_name %>
      </td>
    </tr>
    <tr>
      <td>支払方法</th>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
  </table>

<h4>請求情報</h4>
  <table border="1" >
    <tr>
      <td>商品合計</th>
      <td><%= @total %></td>
    </tr>
    <tr>
      <td>配送料</th>
      <td><%= @order.postage %></td>
    </tr>
    <tr>
      <td>ご請求額</th>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>


<h4>注文内容</h4>
  <table border="1" width="600">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
   
  </table>

