<body>
  <header>
    <% if customer_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", customer_session_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
    <% end %>
  </header>
  <%= yield %>
</body>

<h2>Log in</h2>

<%= form_with model: @customer, url: customer_session_path do |f| %>

  <div class="field">
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
  </div>

  <div class="field">
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %>
  </div>

  <div class="field">
  <%= f.label :last_name_kana %><br>
  <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
  <%= f.label :first_name_kana %><br>
  <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="field">
  <%= f.label :postal_code %><br>
  <%= f.text_field :postal_code %>
  </div>

  <div class="field">
  <%= f.label :address %><br>
  <%= f.text_field :address %>
  </div>

  <div class="field">
  <%= f.label :telephone_number %><br>
  <%= f.text_field :telephone_number %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
