<h2>商品一覧</h2>

<% @items.each do |item| %>
  <tr>
    <tb>
      <% if item.image.attached? %>
        <%= image_tag item.image, size: "100x100" %>
      <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
    </tb>
    <tb>
      <%= link_to public_item_path(item.id) do %>
        <%= item.name %>
      <% end %>
    </tb>
    <tb>税抜価格：<%= item.price %>円</tb>
  </tr>

<% end %>