<%= render 'layouts/customer_header' %>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="show-image">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="show-content">
        <h3><%= @item.name %></h3><br>
        <p><%= @item.introduction %></p>
        <h6>¥<%= @item.price %><span>（税込）</span></h6>
      </div>
    </div>
  </div>
 </div>
  

<%= form_with model:@cart_item, url:cart_items_path, method: :post, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <p>数量を選択してください。</p>
  <%= f.select :quantity, *[1..5],{include_blank: '個数選択'},required:true%>&emsp;
  <%= f.submit "カートに入れる" %>
<% end %>